# ===== ROS / catkin =====
build/
devel/
install/
.catkin_workspace

# ===== Python =====
__pycache__/
*.pyc
*.pyo

# ===== C++ =====
*.o
*.so
*.a

# ===== Editors =====
.vscode/
.idea/
*.swp
*~
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.vsconfig
*.DotSettings.user

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Unity =====
Library/
Temp/
Obj/
Logs/
UserSettings/
Build/
Builds/
MemoryCaptures/

# =====  Unity caches / VCS =====
.ytmp/
.plastic/
.utmp/




